@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html, body{
    @apply bg-emerald-950;
}
.shadowed-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

.button.loading {
    cursor: not-allowed;
    pointer-events: none; /* Disable clicking while loading */
}

.button.loading::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 8px;
    border: 2px solid transparent;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 0.6s linear infinite; /* Rotate the circle */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
